@page "/"

<PageTitle>Index</PageTitle>

<h1>New project from Tester37</h1>

Demonstration of the balance change when the bet amount is calculated according to the Kelly criterion. <br />
<b>BetAmount = Bank*((K*V-1)/(K-1))</b>
